body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #fff;
    color: #1b184f;
    padding: 10px;
    text-align: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    float: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #1b184f;
    font-weight: bold;
}

section {
    padding: 20px;
}

footer {
    background-color: #fff;
    color: #1b184f;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#main {
    display: flex;
    flex-direction: column; /* Adjust the flex direction to column */
    align-items: center;
}

.about-me {
    flex: 1;
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Add margin to create space between sections */
}

.about-me img {
    max-width: 15%;
    border-radius: 10px;
    margin-right: 20px;
}

.description {
    max-width: 50vw; /* Adjust the maximum width as needed */
    text-align: justify;
}

.publications {
    flex: 1;
    max-width: 50vw; /* Adjust the maximum width as needed */
    text-align: justify;
}

.publications ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.description {
    margin-left: 20px; /* Adjust the margin as needed */
    text-align: justify; /* Add this line to justify the text */
    max-width: 50vw;
}

.icon-row {
    display: flex;
    gap: 10px;
}

.icon-row a {
    color: #333;
    text-decoration: none;
}