body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

section {
    padding: 20px;
}

/* Add more styling as needed */

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 100px;
    position: relative;
}

.profile-img {
    border-radius: 50%;
    width: 100px; /* Adjust the size as needed */
    height: 100px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: scale(0.5, 0.5);
}

.header-text {
    margin-top: 70px; /* Adjust the margin based on the image size */
}
